# 2024 Olymptic Medelist Dataset

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("med.csv")
data.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,7/27/2024,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1/25/2000,1903136,NaN,True
1,7/27/2024,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,7/25/1996,1923520,NaN,True
2,7/27/2024,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,9/15/1994,1903147,NaN,True
3,7/27/2024,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,7/7/1992,1940173,NaN,True
4,7/27/2024,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,11/14/1998,1912525,NaN,True

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2315 entries, 0 to 2314
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   medal_date        2315 non-null   object
 1   medal_type        2315 non-null   object
 2   medal_code        2314 non-null   float64
 3   name              2315 non-null   object
 4   gender            2315 non-null   object
 5   country_code      2315 non-null   object
 6   country           2315 non-null   object
 7   country_long      2315 non-null   object
 8   nationality_code  2314 non-null   object
 9   nationality       2314 non-null   object
 10  nationality_long  2314 non-null   object
 11  team              1555 non-null   object
 12  team_gender       1555 non-null   object
 13  discipline        2315 non-null   object
 14  event             2315 non-null   object
 15  event_type        2315 non-null   object
 16  url_event         2294 non-null   object
 17  birth_date        2315 non-null   object
 18  code_athlete      2315 non-null   int64
 19  code_team         1555 non-null   object
 20  is_medallist      2315 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(18)
memory usage: 364.1+ KB

## 1. How many unique countries are represented in the dataset?
*Hint: Use the `unique()` or `nunique()` function on the `country` or `country_long` column.*

In [4]:
# Your code here
data.columns

Index(['medal_date', 'medal_type', 'medal_code', 'name', 'gender',
       'country_code', 'country', 'country_long', 'nationality_code',
       'nationality', 'nationality_long', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code_athlete',
       'code_team', 'is_medallist'],
      dtype='object')

In [5]:
data['country'].unique()

array(['Belgium', 'Italy', 'Australia', 'Great Britain', 'United States',
       'Korea', 'Tunisia', 'Hong Kong, China', 'France', 'Hungary',
       'Kazakhstan', 'Japan', 'Spain', 'Mongolia', 'Sweden', 'Germany',
       'Canada', 'Poland', 'Egypt', 'Brazil', 'Republic of Moldova',
       'Uzbekistan', 'Kosovo', 'China', 'India', 'Slovakia',
       'South Africa', 'Ukraine', 'Azerbaijan', 'Croatia', 'Switzerland',
       'Romania', 'Ireland', 'Georgia', 'Tajikistan', 'Slovenia',
       'Mexico', 'Guatemala', 'Argentina', 'Greece', 'Austria',
       'Netherlands', 'New Zealand', 'Ecuador', 'Israel', 'Portugal',
       'Uganda', 'Ethiopia', 'AIN', 'Philippines', 'Norway', 'Grenada',
       'Jamaica', 'Saint Lucia', 'Dominica', 'Chinese Taipei',
       'Lithuania', 'Armenia', 'Algeria', 'Indonesia',
       'Dominican Republic', 'Cabo Verde', 'Cuba', 'DPR Korea', 'Chile',
       'Serbia', 'Colombia', 'Kenya', 'Denmark', 'Thailand', 'Malaysia',
       'Bahrain', 'IR Iran', 'Kyrgyzstan', 'TÃ¼rkiye', 'Morocco', 'Zambia',
       'Cyprus', 'Peru', 'Botswana', 'Pakistan', 'Bulgaria', 'EOR',
       'Jordan', 'Czechia', 'Singapore', 'Qatar', 'Puerto Rico', 'Panama',
       "CÃ´te d'Ivoire", 'Albania', 'Fiji'], dtype=object)

In [6]:
len(data['country'].unique())

92

## 2. Which event had the most medalists?
*Hint: Use `value_counts()` on the `event` column to determine the event with the highest number of medalists.*

In [7]:
# Your code here
data['event'].value_counts().idxmax()

'Men'

## 3. What is the gender distribution of the medalists?
*Hint: Use `value_counts()` on the `gender` column.*

In [8]:
# Your code here
data['gender'].value_counts()

gender
Female    1162
Male      1153
Name: count, dtype: int64

## 4. How many athletes from Belgium won medals?
*Hint: Filter on the `country_code` column with `BEL` and check the number of rows.*

In [9]:
# Your code here
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
1024,7/31/2024,Gold Medal,1.0,SCOTT Hannah,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,Great Britain,W,Rowing,Women's Quadruple Sculls,TEAM,/en/paris-2024/results/rowing/women-s-quadrupl...,6/18/1999,1901091,ROWWSCULL4--GBR01,True

In [10]:
data_bel=data[data.country_code=="BEL"]
data_bel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 759
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   medal_date        10 non-null     object
 1   medal_type        10 non-null     object
 2   medal_code        10 non-null     float64
 3   name              10 non-null     object
 4   gender            10 non-null     object
 5   country_code      10 non-null     object
 6   country           10 non-null     object
 7   country_long      10 non-null     object
 8   nationality_code  10 non-null     object
 9   nationality       10 non-null     object
 10  nationality_long  10 non-null     object
 11  team              0 non-null      object
 12  team_gender       0 non-null      object
 13  discipline        10 non-null     object
 14  event             10 non-null     object
 15  event_type        10 non-null     object
 16  url_event         8 non-null      object
 17  birth_date        10 non-null     object
 18  code_athlete      10 non-null     int64
 19  code_team         0 non-null      object
 20  is_medallist      10 non-null     bool
dtypes: bool(1), float64(1), int64(1), object(18)
memory usage: 1.7+ KB

## 5. What is the average age of gold medalists?
*Hint: Filter for `Gold Medal` in the `medal_type` column, and calculate the difference between `medal_date` and `birth_date`.*

In [11]:
# Your code here

data_new=data[(data.medal_type=="Gold Medal")]
data_new

pd.to_datetime(data_new["medal_date"], format="mixed")

data_new['medal_date']=pd.to_datetime(data_new["medal_date"], format="mixed")
data_new['birth_date']=pd.to_datetime(data_new["birth_date"], format="mixed")

data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 752 entries, 0 to 2304
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   medal_date        752 non-null    datetime64[ns]
 1   medal_type        752 non-null    object
 2   medal_code        752 non-null    float64
 3   name              752 non-null    object
 4   gender            752 non-null    object
 5   country_code      752 non-null    object
 6   country           752 non-null    object
 7   country_long      752 non-null    object
 8   nationality_code  751 non-null    object
 9   nationality       751 non-null    object
 10  nationality_long  751 non-null    object
 11  team              517 non-null    object
 12  team_gender       517 non-null    object
 13  discipline        752 non-null    object
 14  event             752 non-null    object
 15  event_type        752 non-null    object
 16  url_event         745 non-null    object
 17  birth_date        752 non-null    datetime64[ns]
 18  code_athlete      752 non-null    int64
 19  code_team         517 non-null    object
 20  is_medallist      752 non-null    bool
dtypes: bool(1), datetime64[ns](2), float64(1), int64(1), object(16)
memory usage: 124.1+ KB

C:\Users\APBaker\AppData\Local\Temp\ipykernel_13716\2819598083.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['medal_date']=pd.to_datetime(data_new["medal_date"], format="mixed")
C:\Users\APBaker\AppData\Local\Temp\ipykernel_13716\2819598083.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['birth_date']=pd.to_datetime(data_new["birth_date"], format="mixed")

In [12]:
age_difference=data_new['medal_date'].dt.year-data_new['birth_date'].dt.year
age_difference.mean()

26.993351063829788

## 6. List the names of all athletes who won a silver medal in a cycling event.
*Hint: Filter by `medal_type` (Silver) and `discipline` (Cycling Road), then display the `name` column.*

In [13]:
# Your code here
data_nw=data[(data['medal_type']=="Silver Medal") & (data['discipline']=="Cycling Road")]
data_nw['name']

1         GANNA Filippo
4        HENDERSON Anna
267    MADOUAS Valentin
336        VOS Marianne
Name: name, dtype: object

## 7. How many events did female athletes participate in?
*Hint: Filter on `gender` (Female) and count the unique values in the `event` column.*

In [14]:
# Your code here
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2315 entries, 0 to 2314
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   medal_date        2315 non-null   object
 1   medal_type        2315 non-null   object
 2   medal_code        2314 non-null   float64
 3   name              2315 non-null   object
 4   gender            2315 non-null   object
 5   country_code      2315 non-null   object
 6   country           2315 non-null   object
 7   country_long      2315 non-null   object
 8   nationality_code  2314 non-null   object
 9   nationality       2314 non-null   object
 10  nationality_long  2314 non-null   object
 11  team              1555 non-null   object
 12  team_gender       1555 non-null   object
 13  discipline        2315 non-null   object
 14  event             2315 non-null   object
 15  event_type        2315 non-null   object
 16  url_event         2294 non-null   object
 17  birth_date        2315 non-null   object
 18  code_athlete      2315 non-null   int64
 19  code_team         1555 non-null   object
 20  is_medallist      2315 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(18)
memory usage: 364.1+ KB

In [15]:
data[data['gender'] == 'Female']['event'].nunique()

150

## 8. Which country had the highest number of gold medals?
*Hint: Filter for `Gold Medal` in the `medal_type` column and use `value_counts()` on the `country` column.*

In [16]:
# Your code here
data[(data.medal_type=="Gold Medal")]
data['country'].value_counts().idxmax()

'United States'

## 9. What are the top three most common disciplines for male athletes?
*Hint: Filter by `gender` (Male) and use `value_counts()` on the `discipline` column to get the top three.*

In [17]:
# Your code here
data[(data.gender=="Male")]
data['discipline'].value_counts().head(3)

discipline
Athletics    231
Swimming     219
Rowing       144
Name: count, dtype: int64

## 10. Find the youngest and oldest medalists in the dataset.
*Hint: Calculate the difference between `medal_date` and `birth_date`, then use `min()` and `max()`.*

In [18]:
data['medal_date'] = pd.to_datetime(data['medal_date'])
data['birth_date'] = pd.to_datetime(data['birth_date'])

data['age'] = data['medal_date'].dt.year - data['birth_date'].dt.year

In [19]:
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
2232,2024-08-11,Bronze Medal,3.0,ODRIOZOLA Kauldi,Male,ESP,Spain,Spain,ESP,Spain,...,M,Handball,Men,HTEAM,/en/paris-2024/results/handball/men/fnl-000200--,1997-01-07,1948268,HBLMTEAM7---ESP01,True,27

In [20]:
data['age']

0       24
1       28
2       30
3       32
4       26
        ..
2310    26
2311    24
2312    28
2313    23
2314    22
Name: age, Length: 2315, dtype: int32

In [21]:
data[data['age'] == data['age'].min()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
432,2024-08-06,Gold Medal,1.0,TREW Arisa,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,Skateboarding,Women's Park,ATH,/en/paris-2024/results/skateboarding/women-s-p...,2010-05-12,1946064,NaN,True,14

In [22]:
data[data['age'] == data['age'].max()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
1126,2024-08-02,Silver Medal,2.0,KRAUT Laura,Female,USA,United States,United States of America,USA,United States,...,O,Equestrian,Jumping Team,TEAM,/en/paris-2024/results/equestrian/jumping-team...,1965-11-14,1951840,EQUOJUMPTEAMUSA01,True,59